/* Style the headings */
h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Style the paragraphs */
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  /* Style the unordered lists */
 /* Style the unordered lists */
ul {
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 15px;
    padding-left: 0;
  }
  
  ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;
  }
  
  ul li:before {
    content: '\2022'; /* Unicode for bullet point */
    position: absolute;
    left: 0;
    color: #000;
  }
  
  /* Responsive styles */
  @media (max-width: 767px) {
    /* Adjust font sizes for smaller screens */
    h1 {
      font-size: 24px;
    }
    
    h2 {
      font-size: 22px;
    }
    
    h3 {
      font-size: 18px;
    }
    
    p {
      font-size: 14px;
    }
    
    /* Decrease margin bottom for paragraphs and lists */
    p,
    ul {
      margin-bottom: 10px;
    }
  }
  